<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @review.article %>
</p>

<p>
  <strong>Reviewer:</strong>
  <%= @review.reviewer %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @review.date_sent %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @review.returned %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @review.contents %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
