<%= form_for(@published_article) do |f| %>
  <% if @published_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@published_article.errors.count, "error") %> prohibited this published_article from being saved:</h2>

      <ul>
      <% @published_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_field :abstract %>
  </div>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
