<h1>Listing published_articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Abstract</th>
      <th>Contents</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @published_articles.each do |published_article| %>
      <tr>
        <td><%= published_article.name %></td>
        <td><%= published_article.author %></td>
        <td><%= published_article.abstract %></td>
        <td><%= published_article.contents %></td>
        <td><%= published_article.category %></td>
        <td><%= link_to 'Show', published_article %></td>
        <td><%= link_to 'Edit', edit_published_article_path(published_article) %></td>
        <td><%= link_to 'Destroy', published_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Published article', new_published_article_path %>
<div></div>
<%= link_to 'Back to Home', controller: 'welcome' %>
