<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @published_article.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @published_article.author %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @published_article.abstract %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @published_article.contents %>
</p>

<p>
  <strong>Category:</strong>
  <%= @published_article.category %>
</p>

<%= link_to 'Edit', edit_published_article_path(@published_article) %> |
<%= link_to 'Back', published_articles_path %>
