<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @record.genre %>
</p>

<p>
  <strong>Link:</strong>
  <%= @record.link %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
