<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @author.email_address %>
</p>

<p>
  <strong>Article:</strong>
  <%= @author.article %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
